@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f6;
}

h1 {
  text-align: center;
}

.container {
  margin: 2rem 13% 4rem;
  width: auto;
  text-align: center;
  background-color: #fffafa;
  position: relative;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
  color: cadetblue;
}

.flex-container {
  display: flex;
  padding: 20px;
}

.flex-child1 {
  flex: 2;
  margin-right: 20px;
  padding: 20px;
}

.flex-child2 {
  flex: 1;
  padding: 20px;
  margin-bottom: auto;
  position: sticky;
}

.flex-child3 {
  padding: 10px;
}

.flex-child4 {
  margin-top: 100px;
  margin-left: 60px;
}

.btn {
  background-color: darkcyan;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

.qtyInput {
  width: 10%;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.cost {
  text-align: center;
  color: #f1f3f6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  border: 2px solid orangered;
  border-radius: 8px;
  background-color: orangered;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.text1 {
  color: cornsilk;
  font-family: "Nova Flat", cursive;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;

  position: relative;
  animation: text 2s 1;
}

.text2 {
  -webkit-text-stroke: 1px rgb(255, 251, 0);
  font-size: 15px;
  color: azure;
  font-weight: 400;
}

.menu-icon {
  display: flex;
  width: 50%;
  height: 10%;
}
.menu-choices {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes text {
  0% {
    color: black;
    /* letter-spacing: -0.8rem; */
    letter-spacing: 0.201rem;
    margin-bottom: -0.9375rem;
  }
  30% {
    /* letter-spacing: 1.5625rem; */
    letter-spacing: 0.1em;
    margin-bottom: -0.9375rem;
  }
  65% {
    /* letter-spacing: 0.5 rem; */
    letter-spacing: 0.02 rem;
    margin-bottom: -0.9375rem;
  }
}
