code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/********************************************** card ************************************/
.card {
  height: auto;
  width: 21rem;
  min-height: 32rem;
  margin: 2rem;
  text-align: center;
  animation-name: shrink;
  animation-duration: 0.5s;
  padding: 1rem;
}

.card:hover {
  animation-name: grow;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes grow {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
@keyframes shrink {
  from {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}
img {
  margin: 1rem;
  position: relative;
  height: 200px;
  object-fit: contain;
}
/********************************************** Navbar ****************************************/
.navbar {
  background-color: rgb(64, 64, 231);
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  display: flex;
}
.drawer-logout {
  width: 100%;
  font-size: 2rem;
}
.site-name {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search-box {
  width: 32%;
  display: flex;
}
.search-box-form {
  width: 100%;
  display: flex;
}

.form-control {
  width: 100%;
}
.navlink-container {
  width: 32%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink {
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}
.navlink:hover {
  color: #d3d3d3;
  text-decoration: none;
}
a.active-nav-link {
  font-weight: bolder;
  border-bottom: 2px solid red;
}
.userform {
  text-align: start;
}
.box {
  width: 350px;
  padding: 40px;
  margin: auto;
  text-align: center;
  background: rgb(245, 245, 245);
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgb(200, 200, 200),
    -10px -10px 10px rgb(255, 255, 255);
}
.box h1 {
  /* color: white; */
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  /* color: white; */
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 100%;
}
.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  padding: 14px 40px;
  cursor: pointer;
  outline: none;
  /* color: white; */
  border-radius: 24px;
  transition: 0.25s;
}
.box button:hover {
  box-shadow: 5px 5px 5px rgb(200, 200, 200), -5px -5px 5px rgb(255, 255, 255);
}
.box-signup {
  width: 40%;
}
.edituser {
  color: blue;
  cursor: pointer;
}
.userbackground {
  background: rgb(245, 245, 245);
}
.orderImgs {
  max-height: 80px;
}
.ordersList {
  background: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  margin: 15px;
}
.cancelOrderButton {
  box-shadow: inset 5px 5px 5px rgb(206, 196, 173),
    inset -5px -5px 5px rgb(252, 248, 238);
  border-radius: 10px;
  border-width: 0px;
  background: rgb(255, 243, 213);
  padding: 10px;
}
.cancelOrderButton:hover {
  box-shadow: 5px 5px 5px rgb(200, 200, 200), -5px -5px 5px rgb(255, 255, 255);
  padding: 11px;
}
.orderContainer {
  text-align: left;
  box-shadow: 10px 10px 10px rgb(200, 200, 200),
    -10px -10px 10px rgb(255, 255, 255);
  background: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 20px 40px;
  margin: 20px 20px;
}
.flex-child5 {
  flex: 1;
}
.flex-child6 {
  flex: 6;
  padding: 20px;
}
.userdetails {
  box-shadow: 10px 10px 10px rgb(200, 200, 200),
    -10px -10px 10px rgb(255, 255, 255);
  border-radius: 10px;
}
.userdetails input {
  border: 0;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.searchButton {
  border: 0;
  background: rgb(245, 245, 245);
  display: block;
  text-align: center;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  padding: 0px 20px;
  margin: 0px 10px;
  cursor: pointer;
  outline: none;
  /* color: white; */
  border-radius: 24px;
  transition: 0.25s;
}
.searchButton:hover {
  box-shadow: 5px 5px 5px rgb(42, 42, 158);
}
.signupLabel {
  color: transparent;
}
.box-signup input:focus {
  color: black;
}
.field {
  position: relative;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.box label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s linear;
  color: #999;
  font-size: px;
}
.box input {
  margin-top: 15px;
  border: 1px solid #999;
  padding: 3px 2px;
}
.box input:invalid + label {
  top: 3px;
  opacity: 0;
}
.box input:valid + label {
  opacity: 1;
  top: 0;
}
.box input:focus {
  outline: none;
}
.box input:focus + label {
  color: #33a;
}
.sidenav {
  min-height: 800px;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: auto;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.adminPanel {
  margin-left: 200px;
}
.itemDetails {
  display: flex;
  flex: 8;
}
.itemButtons {
  display: flex;
  flex: 2;
}
.effect3D {
  margin: auto;
  margin-bottom: 100px;
  width: 50%;
  padding: 40px 10%;
  background: rgb(245, 245, 245);
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgb(200, 200, 200),
    -10px -10px 10px rgb(255, 255, 255);
}
.effect3D input {
  border: 0;
  background: none;
  margin: 20px 10px;
  left: 30%;
  text-align: center;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  box-shadow: inset 5px 5px 5px rgb(200, 200, 200),
    inset -5px -5px 5px rgb(255, 255, 255);
  border-radius: 24px;
}
.effect3D label {
  margin-right: 20px;
  width: 150px;
  display: inline-block;
  font-size: large;
}
.effect3D-users {
  width: 70%;
}
.delivered {
  color: rgb(3, 97, 3);
  font-weight: bold;
}
.pending {
  color: rgb(187, 144, 3);
  font-weight: bold;
}
