/* Position and sizing of burger button */
.bm-burger-button {
	position: absolute;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 4.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	display: relative;
	background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	z-index: 0;
}
.bm-burger-button {
	z-index: 0 !important;
}
/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	margin-bottom: 2rem;
	color: white;
	text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.MuiTab-wrapper {
	font-size: 0.7rem;
}
@media (min-width: 600px) {
	.MuiTab-root {
		min-width: auto !important;
	}
}
